<nav class="navbar navbar-expand-sm navbar-light ">
  <div class="container-fluid jd">
    <a class="navbar-brand" href="/home">
      <div class="tasmas">
        <img src = "../../../assets/Tasmas.png">
      </div>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../../assets/Menu.png">
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/payment">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pending">Pending</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/edit">Edit</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/product">Signout</a>
        </li>
      </ul>
  </div>
  </div>
</nav>
