a{
  text-transform: uppercase;
  font-family: sans-serif;
  position:relative;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  position:relative;
  display:block;
  text-decoration: none;
  justify-content:center ;
  align-items: center;
  color:#0965C0 !important;
  font-size: 1rem;
  margin-top:.5rem;
  }


  a:hover{
    color:#9F4D88 !important;
  }






  #navbarNav{
    display:flex;
    align-items: right !important;
  }


  @keyframes logocolor{
    0%,25% {fill:#0965C0}
    26%,50% {fill:#9F4D88}
    100% {fill:#0965C0}
  }




  .jd{
    font-family: "PALANQUIN";
    height:4rem;
    position: relative;
    width: 100%;
  }



.tasmas{
  height:3rem;
}

.tasmas img{
  height:100%;
}


