
<div class="container" id= "jd">
  <div id ="card">
    <div class="row">
      <div class="col">
        <!-- <div class = "logo" id="frm">
          <img src="../.././../assets/Tasmas.png">
        </div> -->
        <div id="frm">
          <span id="title">
            TASMAS
          </span>
        </div>
      </div>
    </div>
    <!-- <div>

    </div> -->
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Name Here" [(ngModel)]="term">
  </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Program</th>
            <th scope="col">cycle_date</th>
            <th scope="col">status</th>
          </tr>
          <tr *ngFor = "let ele of this.members | filter:term">
            <td>{{ele.member_id}}</td>
            <td>{{ele.name}}</td>
            <td>{{ele.mobile}}</td>
            <td>{{ele.program_id}}</td>
            <td>{{ele.cycle_date}}</td>
            <td>{{ele.status}}</td>
            <td><button class ="edit_btn"><span class="material-symbols-outlined" (click) ="edit(ele.member_id)">
              edit
              </span></button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

